@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-content {
  margin-bottom: 10rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: block;
  text-align: center;
  padding: 1vh 0;
  margin: 0;
  color: #777;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  width: 100%;
  left: 0;
}

.not-found {
  text-align: center;
}

.not-found-link {
  color: #4979ff;
  text-decoration: underline;
}

.submit-btn {
  display: flex;
  margin: auto;
}

.submit-btn:hover {
  background-color: rgb(27, 198, 198);
}